@import "https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css";
@import "https://newcss.net/theme/night.css";
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

i {
  padding-left: 10px;
  padding-right: 10px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
